<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Partoogle search combing results from Google and Bing</title>
    <meta name="description" content="Free Bootstrap Theme by uicookies.com">
    <meta name="keywords" content="Partoogle search combing results from Google and Bing">
    <link rel="stylesheet" href="../css/styles-merged.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/custom.css">
    <link rel="stylesheet" href="../css/switcher.css" />
</head>
<body>

    <!-- START: header -->

    <div class="probootstrap-loader"></div>

    <header role="banner" class="probootstrap-header">
        <div class="container">
            <a href="index.html" class="probootstrap-logo">Partoogle<span>.</span></a>
            <a href="#" class="probootstrap-burger-menu visible-xs"><i>Menu</i></a>
            <div class="mobile-menu-overlay"></div>
        </div>
    </header>
    <!-- END: header -->
    <div style="min-height:700px">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>
    <footer class="probootstrap-footer probootstrap-bg" style="background-image: url(../img/slider_3.jpg)">
        <div class="container">
            <div class="row ">
                <div class="col-md-12">
                    <div class="probootstrap-footer-widget">
                        <h4 class="heading">About Partoogle.</h4>
                        <p>A play on the name Google, Partoogle is a car parts search engine that allows the search results from Google and Bing APIs to be combined and exported. </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <div class="gototop js-top">
        <a style="color:blue" href="#" class="js-gotop"><i class="icon-chevron-thin-up"></i></a>
    </div>
    <script src="~/js/scripts.min.js"></script>
    <script src="~/js/main.min.js"></script>
    <script src="~/js/custom.js"></script>
    <script src="~/js/jquery.switcher.js"></script>
    <script src="~/js/search.js"></script>
</body>
</html>