<div class="probootstrap-field-group">
    <div class="probootstrap-fields">
        <div class="search-field">
            <i class="icon-location2"></i>
            <input id="searchTerm" type="text" class="form-control" placeholder="Enter part, make, model, year">
        </div>
        <div class="search-category">
            <i class="icon-chevron-down"></i>
            <select name="#" id="searchMode" class="form-control">
                <option value="all">All</option>
                <option value="google">Google</option>
                <option value="bing">Bing</option>
            </select>
        </div>
    </div>
    <button class="btn btn-success" id="search"><i class="icon-magnifying-glass t2"></i> Search</button>
</div>