<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="googleApiParameterConfig" value="{'key':'AIzaSyC552-pixhHui32cA6xrAX8M1VZOPUiDw4','cx':'011326377615758321227:hijqg5glqpm'}"/>
    <add key="bingApiParameterConfig" value="{'':''}"/>
    <add key="googleApi" value="https://www.googleapis.com/customsearch/v1"/>
    <add key="bingApiHeaderConfig" value="{'Ocp-Apim-Subscription-Key':'f5eead50e3a74b6d8d4fd6761dbb104f'}"/>
    <add key="googleApiHeaderConfig" value="{'a':' '}"/>
    <add key="bingApi" value="https://api.cognitive.microsoft.com/bing/v7.0/search"/>
  </appSettings>
</configuration>